h3, h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radioClass{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 6px;
  /* background-color only for content */
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  margin-left:630px;
}
input[type="radio"]:checked {
    background-color:blue;
    background-clip: content-box;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition-duration: 0.5s
  }
  
  .button:hover {background-color:white; color: black;}
  
  .button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .wrapper{
    white-space: no-wrap;
   
  }
  
  .breakable-text{
    display: inline;
    white-space: no-wrap;
  }